services:
  api:
    build:
      context: .
      dockerfile: dockerfile
    container_name: graphql_api
    volumes:
      - ./app.py:/app/app.py
      - ./server:/app/server
    ports:
      - '5000:5000'
    env_file:
      - .env
    command: >
      uvicorn app:app
      --host 0.0.0.0
      --port 5000
      --reload
